* {
    font-family: 'Nunito', sans-serif;
    box-sizing: border-box;
    letter-spacing: 2px;
    text-transform: uppercase;
}

html {
    scroll-behavior: smooth;
}

body {
    display: block;
    overflow-x: hidden;
}

input,
button,
textarea,
label {
    text-transform: inherit;
    display: block;
    filter: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    text-align: center;
}

::-webkit-scrollbar {
    display: none;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition-delay: 3600s;
}

.route__container {
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0px;
    left: 0px;
    transition: 0.8s;
}

.left .route-enter {
    transform: translateX(100%);
}

.left .route-enter-active {
    transform: translateX(0%);
}

.left .route-exit {
    transform: translateX(-100%);
}

.left .route-exit-active {
    transform: translateX(-100%);
}

.right .route-enter {
    transform: translateX(-100%);
}

.right .route-enter-active {
    transform: translateX(0%);
}

.right .route-exit {
    transform: translateX(100%);
}

.right .route-exit-active {
    transform: translateX(100%);
}
