* {
    font-family: 'Nunito', sans-serif;
    box-sizing: border-box;
    letter-spacing: 2px;
    text-transform: uppercase;
}

html {
    scroll-behavior: smooth;
}

body {
    display: block;
}

input,
button,
textarea {
    text-transform: inherit;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition-delay: 3600s;
}
